################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/test_NDI/out/build/x64-Debug
/test_NDI/.vs
